<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Combined Projects</title>
    <link type="text/css" rel="stylesheet" href="styles_mainpage.css" media="all">
</head>
<body>

<footer>
    <nav>
        <li><a href="http://localhost:9713/combinedprojects/registration">Registration</a></li>
        <li><a href="http://localhost:9713/combinedprojects/authorization">Log in</a> </li>
    </nav>
</footer>

<header>
    <h2>Main Page</h2>
</header>

<section>
    <table cellpadding="20"><tr>
        <td><button style="width:120px;height:90px" name="toChat" id="toChat" onclick="document.location='chat'">Chat</button></td>
        <td><button style="width:120px;height:90px" name="toTheGame" id="toTheGame" onclick="document.location='game'">Game</button></td>
        <td><button style="width:120px;height:90px" name="toForum" id="toForum" onclick="document.location='forum'">Forum</button></td>
    </tr></table>
</section>
</body>
</html>